{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h2>Привет. Меня зовут Сергей.</h2>
<p>
Мне 29 лет. 
<p>
  Выучился на специальности "Вычислительной техники, Вычислительные системы комплексы и сети"
  и "Бухгалтерского учета и прикладной информатики, Прикладная информатика (в экономике)".
  <p>
  До этого момента тестно не работал в сферах связанных со своим образованием.
  В этом году решил поменять вектор своего развития. И записался на курс "Python разработчик".
  <p> 
  Моя профиль в Github: Serge170
  <p> 
  <img src="/static/img/github.jpeg"  width="250" height="300" /> 
{% endblock %}
  </div>